.formulario {
    
    height: 5em;
    
}
.submit {
    width: 20em;
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 0.5em;
    font-size: 1em;
    font-weight: 500;
    display: flex;
    align-content: center;
    text-align: center;
    

}
.input {
    width: 10em;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    
}
.danger {
    color: red;
}