
.input {
    width: 20em;
    font-weight: 500;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.agregar {
    width: 10em;
    padding: 0.5em;
    border-radius: 5px;
    margin-left: 0.5em;
    font-size: 1em;
    font-weight: 500;
    cursor: zoom-in;

    transition: background-color 0.3s ease, transform 0.3s;
    border: 2px solid rgb(21, 185, 231);
}
.agregar:hover {
    background-color: hsl(94, 89%, 46%);
    color: white;
    transform: scale(1.1);
    border: none;
    
}



